<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	{% block title %}<title>Open Student Laboratory</title>{% endblock %}
    <title>OSL</title>
	<link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>	
</head>
<body>

<header>
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light border-bottom shadow-sm">
	  <!-- <a class="navbar-brand" href="#">SmartLab</a> -->
		<div class="container-fluid">
		<a class="navbar-brand" href="#">
		  <img src="{% static 'images/logo.ico' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
		  OSL
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
			<span class="navbar-toggler-icon"></span>
		</button>
		</div>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Домой <span class="sr-only">(текущая)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Оборудование</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Календарь</a>
		  </li>
		</ul>
		<div class="btn-group">
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Пользователь
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Профиль</a>
				<a class="dropdown-item" href="#">Выйти</a>
			</div>
		</div>
	  </div>
	</nav>
</header>

{% block content %}
{% endblock %}

<!-- <div class="bg-light border-top shadow-sm"> -->
<!-- Footer -->
<footer class="footer bg-light border-top shadow-sm">

  <!-- Footer Elements -->
	<div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Регистрируйся сейчас</h5>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="#">Регистрация</a>
      </li>
    </ul>
    <!-- Call to action -->
	</div>
  
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://klgtu.ru/"> klgtu.ru</a>
  </div>
  <!-- Copyright --> 

</footer>
<!-- </div> -->
<!-- Footer -->
</body>
</html>